docs/**/* -diff
docs/**/* linguist-generated=true
*.html -diff
*.html linguist-generated=true
*.rst -diff
*.rst linguist-generated=true
*.js -diff
*.js linguist-generated=true
*.rst.txt -diff
*.rst.txt linguist-generated=true
